
@{
    ViewBag.Title = "Detalles de Proyecto";
}

<div class="bs-docs-example">
    <p style="text-transform:uppercase">:: @Gestion.Proyecto.Resource.Title.CriterioBusqueda</p>
</div>
<div class="prettyprint">
    <div class="row-fluid">

    </div>
</div>


